<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0"> 
  <title>Dashboard Tempe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="dashboard-container">
    <div class="sidebar">
      <div class="box">
      <p>Suhu: <span id="suhu">{{ data.suhu }}</span> °C</p>
    </div>
    <div class="box">
      <p>Kelembaban: <span id="kelembaban">{{ data.kelembaban }}</span> %</p>
    </div>

      
    </div>

    <div class="main-content">
      
        <!-- <div class="image-box">
        <p>Foto Kamera (terbaru):</p>
        <img id="live-image" src="getimage.php" alt="Live Image" style="max-width:100%; border: 1px solid #ccc; border-radius: 8px;">
      </div> -->
      <h1>live tempe</h1>
      <img src="{{ url_for('video_feed') }}" width="640" height="480" />

    </div>
  </div>
    <!-- <meta http-equiv="refresh" content="1">  -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
