<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0"> 
  <title>Dashboard Tempe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="dashboard-container">
    <div class="sidebar">
      <div class="box">
        <p>Suhu: <span id="suhu">{{ data.suhu }}</span> °C</p>
      </div>
      <div class="box">
        <p>Kelembaban: <span id="kelembaban">{{ data.kelembaban }}</span> %</p>
      </div>
      <div class="box">
        <button onclick="logout()">Logout</button>
      </div>
    </div>

    <div class="main-content">
      <h1>Hasil Deteksi</h1>
      <img id="deteksi" src="/latest_image" width="640" alt="Deteksi Kamera" style="border:1px solid #ccc; border-radius: 8px;">
       
        <div class="box">
          <p>Jumlah Tempe Bagus: <span id="bagus">0</span></p>
          <p>Jumlah Tempe Jelek: <span id="jelek">0</span></p>
        </div>

    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
