<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0"> 
  <title>Dashboard Tempe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
   <header class="header">
    <h1>Dashboard Pemantauan Tempe</h1>
  </header>

  <div class="dashboard-container">
    <div class="sidebar">
      <div class="box">
        <p>Suhu: <span id="suhu">{{ data.suhu }}</span> °C</p>
      </div>
      <div class="box">
        <p>Kelembaban: <span id="kelembaban">{{ data.kelembaban }}</span> %</p>
      </div>
      <div class="box">
        <button onclick="logout()">Logout</button>
      </div>
    </div>

    <div class="main-content">
      <!-- <h1>Hasil Deteksi</h1>
      <img id="deteksi" src="/latest_image" width="640" alt="Deteksi Kamera" style="border:1px solid #ccc; border-radius: 8px;"> -->
    
      <!-- <img src="{{ url_for('video_feed') }}" width="640" height="480" /> -->

      <!-- <h2>Gambar Deteksi (Setiap 10 Detik)</h2>
<img id="deteksi" src="/image_feed" width="640" height="480" alt="Deteksi Kamera" /> -->

        <h2>Tempe Bagus</h2>
        <!-- <img id="imgBagus" src="/tempe_bagus" width="640" height="480" alt="Tempe Bagus" /> -->
        <img id="imgBagus" src="{{ url_for('static', filename='tempe_bagus.jpg') }}">
        <h2>Tempe Gagal</h2>
        <!-- <img id="imgJelek" src="/tempe_jelek" width="640" height="480" alt="Tempe Gagal" /> -->
        <img id="imgJelek" src="{{ url_for('static', filename='tempe_jelek.jpg') }}">
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}">
  </script>
  <!-- <script src="script.js"></script> -->
</body>
</html>
