<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Login Tempe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="login-container">
    <h2>Login Dashboard Tempe</h2>
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button onclick="login()">Masuk</button>
    <p id="error-message" class="error-text"></p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
